.searchPlaylistContainer {
  width: 25%;
  height: 600px;
  overflow-y: auto;
  scrollbar-width: thin; /* for Firefox */
  background: linear-gradient(
    135deg,
    rgba(26, 14, 36, 0.95),
    rgba(45, 22, 65, 0.95)
  );
  border: 1px solid #5e2d79;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.inputBox {
  margin-bottom: 0.8rem;
  padding: 0.2rem 0 0.2rem 0.5rem;
  width: 100%;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  color: var(--text-white);
  font-weight: bold;
}

.saveButtonContainer {
  text-align: center;
  margin-top: 1rem;
}

.saveButton {
  background: linear-gradient(135deg, #8e44ad, #b97edc);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(142, 68, 173, 0.5);
  border-radius: 2rem;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.saveButton:hover {
  background-color: #dfb4ff;
  box-shadow: 0 6px 10px rgba(223, 180, 255, 0.7);
  transform: translateY(-2px) scale(1.03);
}

.saveButton:active {
  background-color: #a460cc;
  box-shadow: 0 2px 6px rgba(164, 96, 204, 0.6);
  transform: translateY(1px) scale(0.97);
}

@media only screen and (max-width: 768px) {
  .searchPlaylistContainer {
    width: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .inputBox {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    padding: 0 0 0.1rem 0.5rem;
  }
  .saveButton {
    font-size: 0.9rem;
  }
}
